<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_achBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{198,204}</string>
			<key>spriteSourceSize</key>
			<string>{198,204}</string>
			<key>textureRect</key>
			<string>{{1819,1662},{198,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_autoOffBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,152}</string>
			<key>spriteSourceSize</key>
			<string>{150,152}</string>
			<key>textureRect</key>
			<string>{{754,2143},{150,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_autoOnBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,152}</string>
			<key>spriteSourceSize</key>
			<string>{150,152}</string>
			<key>textureRect</key>
			<string>{{910,2143},{150,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{454,444},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_changeSongBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,152}</string>
			<key>spriteSourceSize</key>
			<string>{150,152}</string>
			<key>textureRect</key>
			<string>{{1066,2143},{150,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_closeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,184}</string>
			<key>spriteSourceSize</key>
			<string>{182,184}</string>
			<key>textureRect</key>
			<string>{{2,2143},{182,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_copyBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,130}</string>
			<key>spriteSourceSize</key>
			<string>{133,130}</string>
			<key>textureRect</key>
			<string>{{1959,2143},{133,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_copyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,184}</string>
			<key>spriteSourceSize</key>
			<string>{182,184}</string>
			<key>textureRect</key>
			<string>{{190,2143},{182,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_copyStateBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{134,130}</string>
			<key>spriteSourceSize</key>
			<string>{134,130}</string>
			<key>textureRect</key>
			<string>{{2096,2143},{134,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{856,444},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createLinesBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{240,240}</string>
			<key>spriteSourceSize</key>
			<string>{240,240}</string>
			<key>textureRect</key>
			<string>{{2211,2},{240,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_creatorBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{354,386}</string>
			<key>spriteSourceSize</key>
			<string>{354,386}</string>
			<key>textureRect</key>
			<string>{{798,1261},{354,386}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_creatorBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{354,386}</string>
			<key>spriteSourceSize</key>
			<string>{354,386}</string>
			<key>textureRect</key>
			<string>{{1188,1261},{354,386}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1258,444},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{192,163}</string>
			<key>spriteSourceSize</key>
			<string>{192,163}</string>
			<key>textureRect</key>
			<string>{{2211,246},{192,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_deSelBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,130}</string>
			<key>spriteSourceSize</key>
			<string>{133,130}</string>
			<key>textureRect</key>
			<string>{{2234,2143},{133,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_deSelBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,184}</string>
			<key>spriteSourceSize</key>
			<string>{184,184}</string>
			<key>textureRect</key>
			<string>{{1710,1943},{184,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_deleteAllIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,48}</string>
			<key>spriteSourceSize</key>
			<string>{108,48}</string>
			<key>textureRect</key>
			<string>{{2274,1447},{108,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_duplicateObjectBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,129}</string>
			<key>spriteSourceSize</key>
			<string>{143,129}</string>
			<key>textureRect</key>
			<string>{{813,2329},{143,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_duplicateObjectBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,184}</string>
			<key>spriteSourceSize</key>
			<string>{182,184}</string>
			<key>textureRect</key>
			<string>{{378,2143},{182,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_editObjBtn3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,130}</string>
			<key>textureRect</key>
			<string>{{2,2329},{131,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_editObjBtn4_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,129}</string>
			<key>spriteSourceSize</key>
			<string>{130,129}</string>
			<key>textureRect</key>
			<string>{{960,2329},{130,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fameBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1660,444},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{2,859},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_freeStuffBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,184}</string>
			<key>spriteSourceSize</key>
			<string>{184,184}</string>
			<key>textureRect</key>
			<string>{{1898,1943},{184,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_garageBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{355,390}</string>
			<key>spriteSourceSize</key>
			<string>{355,390}</string>
			<key>textureRect</key>
			<string>{{2062,444},{355,390}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_garageBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{355,390}</string>
			<key>spriteSourceSize</key>
			<string>{355,390}</string>
			<key>textureRect</key>
			<string>{{404,1261},{355,390}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{404,859},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_goToLayerBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,130}</string>
			<key>textureRect</key>
			<string>{{137,2329},{131,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_groupIDBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,130}</string>
			<key>textureRect</key>
			<string>{{272,2329},{131,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_groupIDBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,184}</string>
			<key>spriteSourceSize</key>
			<string>{184,184}</string>
			<key>textureRect</key>
			<string>{{2086,1943},{184,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_helpBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,182}</string>
			<key>spriteSourceSize</key>
			<string>{182,182}</string>
			<key>textureRect</key>
			<string>{{2274,1261},{182,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_helpBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,150}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{1222,2143},{150,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{806,859},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1704,196}</string>
			<key>spriteSourceSize</key>
			<string>{1704,196}</string>
			<key>textureRect</key>
			<string>{{2,1943},{1704,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1751,438}</string>
			<key>spriteSourceSize</key>
			<string>{1751,438}</string>
			<key>textureRect</key>
			<string>{{2,2},{1751,438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1208,859},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_moreGamesBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{326,256}</string>
			<key>spriteSourceSize</key>
			<string>{326,256}</string>
			<key>textureRect</key>
			<string>{{583,1662},{326,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_moreGamesBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{326,289}</string>
			<key>spriteSourceSize</key>
			<string>{326,289}</string>
			<key>textureRect</key>
			<string>{{1578,1261},{326,289}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_newBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{214,214}</string>
			<key>spriteSourceSize</key>
			<string>{214,214}</string>
			<key>textureRect</key>
			<string>{{1377,1662},{214,214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_ngBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{216,216}</string>
			<key>spriteSourceSize</key>
			<string>{216,216}</string>
			<key>textureRect</key>
			<string>{{1157,1662},{216,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_optionsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{198,198}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{2027,1662},{198,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pasteBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,130}</string>
			<key>textureRect</key>
			<string>{{407,2329},{131,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pasteBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,184}</string>
			<key>spriteSourceSize</key>
			<string>{182,184}</string>
			<key>textureRect</key>
			<string>{{566,2143},{182,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_pasteColorBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,130}</string>
			<key>textureRect</key>
			<string>{{542,2329},{131,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pasteStateBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,130}</string>
			<key>spriteSourceSize</key>
			<string>{132,130}</string>
			<key>textureRect</key>
			<string>{{677,2329},{132,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_playBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{411,448}</string>
			<key>spriteSourceSize</key>
			<string>{411,448}</string>
			<key>textureRect</key>
			<string>{{2,444},{411,448}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_playBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{418,450}</string>
			<key>spriteSourceSize</key>
			<string>{418,450}</string>
			<key>textureRect</key>
			<string>{{1757,2},{418,450}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_profileButton_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{214,220}</string>
			<key>spriteSourceSize</key>
			<string>{214,220}</string>
			<key>textureRect</key>
			<string>{{1595,1662},{214,220}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{1610,859},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedSongsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{240,240}</string>
			<key>spriteSourceSize</key>
			<string>{240,240}</string>
			<key>textureRect</key>
			<string>{{913,1662},{240,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{398,398}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{2012,859},{398,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_selectSongBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,150}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{1376,2143},{150,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_selectSongOnBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,150}</string>
			<key>spriteSourceSize</key>
			<string>{152,150}</string>
			<key>textureRect</key>
			<string>{{1530,2143},{152,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_sideArt_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{286,362}</string>
			<key>spriteSourceSize</key>
			<string>{286,362}</string>
			<key>textureRect</key>
			<string>{{1908,1261},{286,362}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_statsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{198,198}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{2229,1662},{198,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{397,398}</string>
			<key>spriteSourceSize</key>
			<string>{397,398}</string>
			<key>textureRect</key>
			<string>{{2,1261},{397,398}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{577,277}</string>
			<key>spriteSourceSize</key>
			<string>{577,277}</string>
			<key>textureRect</key>
			<string>{{2,1662},{577,277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>communityCreditsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{164,152}</string>
			<key>spriteSourceSize</key>
			<string>{164,152}</string>
			<key>textureRect</key>
			<string>{{2274,1943},{164,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_buildBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{296,98}</string>
			<key>spriteSourceSize</key>
			<string>{296,98}</string>
			<key>textureRect</key>
			<string>{{2,2463},{296,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_buildSBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{296,98}</string>
			<key>spriteSourceSize</key>
			<string>{296,98}</string>
			<key>textureRect</key>
			<string>{{302,2463},{296,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_deleteBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{296,98}</string>
			<key>spriteSourceSize</key>
			<string>{296,98}</string>
			<key>textureRect</key>
			<string>{{602,2463},{296,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_deleteSBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{296,98}</string>
			<key>spriteSourceSize</key>
			<string>{296,98}</string>
			<key>textureRect</key>
			<string>{{902,2463},{296,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_editBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{296,98}</string>
			<key>spriteSourceSize</key>
			<string>{296,98}</string>
			<key>textureRect</key>
			<string>{{1202,2463},{296,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_editSBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{296,98}</string>
			<key>spriteSourceSize</key>
			<string>{296,98}</string>
			<key>textureRect</key>
			<string>{{1502,2463},{296,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_fbIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,122}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{1222,2329},{122,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_twIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,122}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{1348,2329},{122,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_ytIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,122}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{1474,2329},{122,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gplusSignIn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{368,112}</string>
			<key>spriteSourceSize</key>
			<string>{368,112}</string>
			<key>textureRect</key>
			<string>{{1600,2329},{368,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gplusSignOut_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{368,112}</string>
			<key>spriteSourceSize</key>
			<string>{368,112}</string>
			<key>textureRect</key>
			<string>{{1972,2329},{368,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>levelLeaderboard_friendsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{123,124}</string>
			<key>spriteSourceSize</key>
			<string>{123,124}</string>
			<key>textureRect</key>
			<string>{{1094,2329},{123,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>levelLeaderboard_globalBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,132}</string>
			<key>spriteSourceSize</key>
			<string>{131,132}</string>
			<key>textureRect</key>
			<string>{{1686,2143},{131,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>levelLeaderboard_globalWeeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,133}</string>
			<key>spriteSourceSize</key>
			<string>{131,133}</string>
			<key>textureRect</key>
			<string>{{1822,2143},{131,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>BasementOverrides.png</string>
		<key>size</key>
		<string>{2458,2563}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>BasementOverrides.png</string>
	</dict>
</dict>
</plist>
