<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_achBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{99,102}</string>
			<key>spriteSourceSize</key>
			<string>{99,102}</string>
			<key>textureRect</key>
			<string>{{910,831},{99,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_autoOffBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{75,76}</string>
			<key>spriteSourceSize</key>
			<string>{75,76}</string>
			<key>textureRect</key>
			<string>{{377,1072},{75,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_autoOnBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{75,76}</string>
			<key>spriteSourceSize</key>
			<string>{75,76}</string>
			<key>textureRect</key>
			<string>{{455,1072},{75,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{227,222},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_changeSongBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{75,76}</string>
			<key>spriteSourceSize</key>
			<string>{75,76}</string>
			<key>textureRect</key>
			<string>{{533,1072},{75,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_closeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{91,92}</string>
			<key>spriteSourceSize</key>
			<string>{91,92}</string>
			<key>textureRect</key>
			<string>{{1,1072},{91,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_copyBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{980,1072},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_copyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{91,92}</string>
			<key>spriteSourceSize</key>
			<string>{91,92}</string>
			<key>textureRect</key>
			<string>{{95,1072},{91,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_copyStateBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,65}</string>
			<key>spriteSourceSize</key>
			<string>{67,65}</string>
			<key>textureRect</key>
			<string>{{1048,1072},{67,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{428,222},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createLinesBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{1106,1},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_creatorBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{177,193}</string>
			<key>spriteSourceSize</key>
			<string>{177,193}</string>
			<key>textureRect</key>
			<string>{{399,630},{177,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_creatorBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{177,193}</string>
			<key>spriteSourceSize</key>
			<string>{177,193}</string>
			<key>textureRect</key>
			<string>{{594,630},{177,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{629,222},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{96,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,82}</string>
			<key>textureRect</key>
			<string>{{1106,123},{96,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_deSelBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{1117,1072},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_deSelBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,92}</string>
			<key>textureRect</key>
			<string>{{855,972},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_deleteAllIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{54,24}</string>
			<key>spriteSourceSize</key>
			<string>{54,24}</string>
			<key>textureRect</key>
			<string>{{1137,724},{54,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_duplicateObjectBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{72,64}</string>
			<key>spriteSourceSize</key>
			<string>{72,64}</string>
			<key>textureRect</key>
			<string>{{406,1164},{72,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_duplicateObjectBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{91,92}</string>
			<key>spriteSourceSize</key>
			<string>{91,92}</string>
			<key>textureRect</key>
			<string>{{189,1072},{91,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_editObjBtn3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{1,1164},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_editObjBtn4_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{65,64}</string>
			<key>spriteSourceSize</key>
			<string>{65,64}</string>
			<key>textureRect</key>
			<string>{{480,1164},{65,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fameBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{830,222},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1,430},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_freeStuffBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,92}</string>
			<key>textureRect</key>
			<string>{{949,972},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_garageBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{178,195}</string>
			<key>spriteSourceSize</key>
			<string>{178,195}</string>
			<key>textureRect</key>
			<string>{{1031,222},{178,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_garageBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{178,195}</string>
			<key>spriteSourceSize</key>
			<string>{178,195}</string>
			<key>textureRect</key>
			<string>{{202,630},{178,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{202,430},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_goToLayerBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{68,1164},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_groupIDBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{136,1164},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_groupIDBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,92}</string>
			<key>textureRect</key>
			<string>{{1043,972},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_helpBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{91,91}</string>
			<key>spriteSourceSize</key>
			<string>{91,91}</string>
			<key>textureRect</key>
			<string>{{1137,630},{91,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_helpBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{611,1072},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{403,430},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{852,98}</string>
			<key>spriteSourceSize</key>
			<string>{852,98}</string>
			<key>textureRect</key>
			<string>{{1,972},{852,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{876,219}</string>
			<key>spriteSourceSize</key>
			<string>{876,219}</string>
			<key>textureRect</key>
			<string>{{1,1},{876,219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{604,430},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_moreGamesBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{163,128}</string>
			<key>spriteSourceSize</key>
			<string>{163,128}</string>
			<key>textureRect</key>
			<string>{{292,831},{163,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_moreGamesBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{163,144}</string>
			<key>spriteSourceSize</key>
			<string>{163,144}</string>
			<key>textureRect</key>
			<string>{{789,630},{163,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_newBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{107,107}</string>
			<key>spriteSourceSize</key>
			<string>{107,107}</string>
			<key>textureRect</key>
			<string>{{688,831},{107,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_ngBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{578,831},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_optionsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{99,99}</string>
			<key>spriteSourceSize</key>
			<string>{99,99}</string>
			<key>textureRect</key>
			<string>{{1014,831},{99,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pasteBtn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{204,1164},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pasteBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{91,92}</string>
			<key>spriteSourceSize</key>
			<string>{91,92}</string>
			<key>textureRect</key>
			<string>{{283,1072},{91,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_pasteColorBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{271,1164},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pasteStateBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{338,1164},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_playBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{206,224}</string>
			<key>spriteSourceSize</key>
			<string>{206,224}</string>
			<key>textureRect</key>
			<string>{{1,222},{206,224}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_playBtn_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,225}</string>
			<key>spriteSourceSize</key>
			<string>{209,225}</string>
			<key>textureRect</key>
			<string>{{878,1},{209,225}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_profileButton_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{107,110}</string>
			<key>spriteSourceSize</key>
			<string>{107,110}</string>
			<key>textureRect</key>
			<string>{{798,831},{107,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{805,430},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedSongsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{456,831},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{199,199}</string>
			<key>spriteSourceSize</key>
			<string>{199,199}</string>
			<key>textureRect</key>
			<string>{{1006,430},{199,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_selectSongBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{688,1072},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_selectSongOnBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{76,75}</string>
			<key>spriteSourceSize</key>
			<string>{76,75}</string>
			<key>textureRect</key>
			<string>{{765,1072},{76,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_sideArt_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{143,181}</string>
			<key>spriteSourceSize</key>
			<string>{143,181}</string>
			<key>textureRect</key>
			<string>{{954,630},{143,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>GJ_statsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{99,99}</string>
			<key>spriteSourceSize</key>
			<string>{99,99}</string>
			<key>textureRect</key>
			<string>{{1114,831},{99,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{198,199}</string>
			<key>spriteSourceSize</key>
			<string>{198,199}</string>
			<key>textureRect</key>
			<string>{{1,630},{198,199}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{288,138}</string>
			<key>spriteSourceSize</key>
			<string>{288,138}</string>
			<key>textureRect</key>
			<string>{{1,831},{288,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>communityCreditsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{82,76}</string>
			<key>spriteSourceSize</key>
			<string>{82,76}</string>
			<key>textureRect</key>
			<string>{{1137,972},{82,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_buildBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{148,49}</string>
			<key>spriteSourceSize</key>
			<string>{148,49}</string>
			<key>textureRect</key>
			<string>{{1,1232},{148,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_buildSBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{148,49}</string>
			<key>spriteSourceSize</key>
			<string>{148,49}</string>
			<key>textureRect</key>
			<string>{{151,1232},{148,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_deleteBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{148,49}</string>
			<key>spriteSourceSize</key>
			<string>{148,49}</string>
			<key>textureRect</key>
			<string>{{301,1232},{148,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_deleteSBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{148,49}</string>
			<key>spriteSourceSize</key>
			<string>{148,49}</string>
			<key>textureRect</key>
			<string>{{451,1232},{148,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_editBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{148,49}</string>
			<key>spriteSourceSize</key>
			<string>{148,49}</string>
			<key>textureRect</key>
			<string>{{601,1232},{148,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>edit_editSBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{148,49}</string>
			<key>spriteSourceSize</key>
			<string>{148,49}</string>
			<key>textureRect</key>
			<string>{{751,1232},{148,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_fbIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{61,61}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{611,1164},{61,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_twIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{61,61}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{674,1164},{61,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_ytIcon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{61,61}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{737,1164},{61,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gplusSignIn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{184,56}</string>
			<key>spriteSourceSize</key>
			<string>{184,56}</string>
			<key>textureRect</key>
			<string>{{800,1164},{184,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gplusSignOut_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{184,56}</string>
			<key>spriteSourceSize</key>
			<string>{184,56}</string>
			<key>textureRect</key>
			<string>{{986,1164},{184,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>levelLeaderboard_friendsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{547,1164},{62,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>levelLeaderboard_globalBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,66}</string>
			<key>spriteSourceSize</key>
			<string>{66,66}</string>
			<key>textureRect</key>
			<string>{{843,1072},{66,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>levelLeaderboard_globalWeeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,66}</string>
			<key>spriteSourceSize</key>
			<string>{66,66}</string>
			<key>textureRect</key>
			<string>{{911,1072},{66,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>BasementOverrides.png</string>
		<key>size</key>
		<string>{1229,1282}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>BasementOverrides.png</string>
	</dict>
</dict>
</plist>
